[package]
name = "docuum"
version = "0.1.0"
authors = ["Stephan Boyer <stephan.boyer@airbnb.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
atty = "0.2"
byte-unit = "3.0"
colored = "1"
dirs = "1"
env_logger = "0.6"
log = "0.4"
serde_json = "1.0"
serde_yaml = "0.8"

[dependencies.clap]
version = "2"
features = ["wrap_help"]

[dependencies.serde]
version = "1"
features = ["derive"]
